body{
    padding: 20px;
}


.field{
    height: 500px;
    margin-right: 1rem;
    position: relative;
}

.block_score{
    position: absolute;
    background-color: rgba(64, 68, 68, 0.247);
    
}

.info{
    height: 500px;
    overflow: scroll;
}

header button{
    margin: 1rem 1rem 2rem 0;
}

header p{
    display:inline;
    margin-left: 6rem;
    margin-bottom: 1rem;
}


.forms_info{
    padding-left: 20px;
}

.infoName{
    background-color: burlywood;
}

.infoScore{
    background-color: yellowgreen;
}
